 body{
      margin:0;
      font-family:sans-serif;
      height:100vh;
      display: flex;
      
    }

    #carre{
      width:50px;
      height:50px;
      background:red;
      position:absolute;
      bottom:20px;      /* position de départ */
      right:51.6%;
    }

    /* Slider et son label */
    .slider-wrapper{
      position: absolute;
      top: 100px;
      right: 50%;
      gap:.5rem;
      margin-bottom:20px;
    }
    input[type="range"]{
      width:100px;
      transform: rotate(90deg)
    }

    #ligne{
      background-color:  yellow;
      position: absolute;
      bottom: 490px;
      width: 100%;
      height: 10px;
    }